<form  class="emp-form" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
 <input type="hidden" name="id" #id="ngModel" [(ngModel)]="userService.selectedUser.id">
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text" class="form-control" placeholder="First Name" name="firstName" #firstName="ngModel" [(ngModel)]="userService.selectedUser.firstName" required>
      <div class="validation-error" *ngIf="firstName.invalid&&firstName.touched">This feild can't be empty</div>
    </div>

    <div class="form-group col-md-6">
      <input type="text" class="form-control"placeholder="Last Name" name="lastName" #lastName="ngModel" [(ngModel)]="userService.selectedUser.lastName" required>
         <div class="validation-error" *ngIf="lastName.invalid&&lastName.touched">This feild can't be empty</div>
    </div>

  </div>
  
  <div class="form-group ">
      <input type="text" class="form-control" placeholder="Email" name="email" #email="ngModel" [(ngModel)]="userService.selectedUser.email" required>
         <div class="validation-error" *ngIf="email.invalid&&email.touched">This feild can't be empty</div>
    </div>
   <div class="form-group ">
      <input type="text" class="form-control" placeholder="City" name="city" #city="ngModel" [(ngModel)]="userService.selectedUser.city">
    </div>
<div class="form-row">
     <div class="form-group col-md-8">
       <button [disabled]="!userForm.valid" type="submit" class="btn btn-primary btn-success btn-block "><i class="fa fa-floppy-o"></i> Submit</button>
      </div>

    <div class="form-group col-md-4">
      <button type="reset" class="btn btn-primary btn-warning btn-block" (click)="resetForm(userForm)"><i class="fa fa-repeat"></i> Reset</button>
    </div>

  </div>
  
</form>